<div class="row">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand fs-3 text-light text-opacity-50" routerLink=""><i class="bi bi-person-vcard"> Employee App</i></a>
        <ul class="navbar-nav me-auto mb-lg-0 ">
          <li class="nav-item mx-3 ">
            <a class="nav-link fs-4 font-monospace text-light text-opacity-80" routerLink="">Home</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link fs-4 font-monospace text-light text-opacity-80" routerLink="form">Employee Form</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
  
