<div class="container box">
    <div class="row  justify-content-center">
        <div class="col-lg-5 col-md-10 col-12 text-light outer-box">
          <form>
            <div class="form-group">
              <!-- <label for="fieldName">Name</label> -->
              <input type="text" class="form-control decor2" id="fieldName" placeholder="Enter name">
            </div><br>
            <div class="form-group">
              <!-- <label for="designation">Designation</label> -->
              <input type="text" class="form-control decor1" id="designation" placeholder="Enter designation">
            </div><br>
            <div class="form-group">
              <!-- <label for="location">Location</label> -->
              <input type="text" class="form-control decor2" id="location" placeholder="Enter location">
            </div><br>
            <div class="form-group">
              <!-- <label for="Salary">Salary</label> -->
              <input type="text" class="form-control decor1" id="Salary"  placeholder="Enter salary">
            </div>
            <br>
            <button type="submit" class="btn">Submit</button>
          </form>        
        </div>
    </div>
</div>
  
